#login {
    display: flex;
    align-items: center;
    justify-content: center;
}

    #login form {
        margin-top: -100px;
        width: 500px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    #login h3 {
        color: black;
        text-align: center;
    }

    #login label {
        width: 70%;
        padding-top: 20px;
        margin: 0 auto;
    }

    #login input {
        border: 2px solid transparent;
        font-size: 16px;
        line-height: 10px;
        padding: 10px 0;
        border-radius: 3px;
        text-align: center;
    }

    #login input {
        background: #ecf0f1;
        transition: border .5s;
        width: 70%;
        margin: 10px auto;
    }

    #login .links {
        display: flex;
        justify-content: space-between;
    }

        #login .links a {
            font-size: 10px;
            text-decoration: none;
            color: rgb(65, 135, 182);
        }


         .buttons button, .buttons a {
    border: 2px solid transparent;
    font-size: 16px;
    line-height: 10px;
    padding: 25px 0;
    border-radius: 3px;
    background: #ed1c24;
    width: 200px;
    color: white;
    margin: 40px 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}