

#signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    #signup form {
        width: 600px;
        background-color: white;
        line-height: 1.65;
        padding: 20px 50px;
        border: 2px solid #CACBCA;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #signup .title {
        width: 100%;
        text-align: center;
    }

    #signup hr {
        border: 1px solid #CACBCA;
    }

    #signup input[type="text"],
    #signup input[type="password"],
    #signup input[type="email"],
    #signup input[type="phone"],
    #signup input[type="address"],
    #signup input[type="city"],
    #signup input[type="state"],
    #signup input[type="zipcode"] {
        border: 2px solid #CACBCA;
        font-size: 16px;
        line-height: 10px;
        padding: 10px 0;
        border-radius: 3px;
        width: 350px;
    }

    #signup input[type="text"],
    #signup input[type="password"],
    #signup input[type="email"],
    #signup input[type="phone"],
    #signup input[type="address"],
    #signup input[type="city"],
    #signup input[type="state"],
    #signup input[type="zipcode"], {
        width: 70%;
        text-align: center;
        background: #ecf0f1;
        font-weight: 200;
        transition: border .5s;
        margin: 4px;
    }

    #signup select {
        
        border: 2px solid #CACBCA;
        font-size: 16px;
        line-height: 10px;
        padding: 10px 0;
        border-radius: 3px;
    }

    #signup select option,
    #signup input {
        text-align: center;
    }

    #signup form a {
        font-size: 10px;
        text-decoration: none;
        color: rgb(65, 135, 182);
    }