.dashboard-item {
    background: #888;
    padding: 40px 10px;
    margin: 20px;
    width: 700px;
    display: flex;
    position: relative;
}

.dashboard-item.active::before {
    content: 'Requires action!';
    position: absolute;
    top: -4px; right: -4px;
    background: red;
    color: white;
    padding: 4px;
    border-radius: 4px;
}

.dashboard-item .dashboard-item-icon {
    width: 10%;
}

.dashboard-item .dashboard-item-description a {
    text-decoration: none;
    color: white;
}

    .dashboard-item .dashboard-item-description a p, .dashboard-item .dashboard-item-description a h3 {
        margin: 4px;
    }